#Build files and related stuff.
build/*

#Session and other vim/neovim related files.
*.vim
*.swo
*.swp

#Cache for LSP
.cache/
.ccls-cache/
.ccls/

#used by LSP for code completion.
compile_commands.json

#tag file for ctags.
tags

# scripts
__pycache__/
*.log
*.patch
venv/*
*/*.egg-info/*


# mac specific files
.DS_Store

# cmake related files
CMakeUserPresets.json

# build files
